@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="calendar">
</div>
<div style="z-index: 1001; width: 400px; left: 350px; top: 21px; visibility: visible;
    display: none;" class="bubble has-bottom-prong">
    <div id="bubblePromo:e" style="display: none;">
    </div>
    <div class="bubblemain">
        <div id="bubbleClose:e" class="bubbleclose" style="">
        </div>
        <div class="bubblecontent" id="bubbleContent:e">
            <div>
                <div>
                </div>
                <div class="cb-root">
                    <div class="cb-switcher" id=":at.switcher">
                        <span id=":at.choice0" class="cb-switcher-selected">活动</span> | <span id=":at.choice1"
                            class="lk cb-switcher-link">预约空档</span></div>
                    <form autocomplete="off" id=":at.form" action="javascript:(void)">
                    <table class="cb-table" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <th class="cb-key">
                                    时间：
                                </th>
                                <td class="cb-value">
                                    6月 6日 (周三), 下午3点 – 下午4点
                                </td>
                            </tr>
                            <tr>
                                <th class="cb-key">
                                    内容：
                                </th>
                                <td class="cb-value">
                                    <div class="textbox-fill-wrapper">
                                        <div class="textbox-fill-mid">
                                            <input id=":at.what" type="text" class="textbox-fill-input cb-event-title-input"></div>
                                    </div>
                                    <div class="cb-example">
                                        例如：去全聚德吃烤鸭</div>
                                </td>
                            </tr>
                            <tr>
                                <th class="cb-key">
                                    日历：
                                </th>
                                <td class="cb-value">
                                    <select id=":at.calendar" class="cb-calendar">
                                        <option value="aHVhbmdmZW5nMDUwQGdtYWlsLmNvbQ" selected="">huang feng</option>
                                        <option value="NjNpam1oNnB2ZnVmdG8yZ2EwZTg3Z3UxdWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">
                                            JS-Client: insert calendar</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="cb-actions">
                                    <span id=":at.create-button">
                                        <div class="goog-inline-block goog-imageless-button" title="" role="button" style="-webkit-user-select: none;"
                                            tabindex="0">
                                            <div class="goog-inline-block goog-imageless-button-outer-box">
                                                <div class="goog-inline-block goog-imageless-button-inner-box">
                                                    <div class="goog-imageless-button-pos">
                                                        <div class="goog-imageless-button-top-shadow">
                                                            &nbsp;</div>
                                                        <div class="goog-imageless-button-content">
                                                            创建活动</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </span>&nbsp; <a href="javascript:void(0)" id=":at.editLink" class="lk">编辑活动 <strong>
                                        »</strong></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
        <div id="prong:e" class="bottom-prong" style="left: 182px;">
            <div class="prong-dk">
            </div>
            <div class="prong-lt">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //fullCalendar,注意大小写
        $("#calendar").fullCalendar({
            theme: true,
            eventSources: ['https://www.google.com/calendar/feeds/huangfeng050%40gmail.com/public/basic'],
            currentTimezone: 'Asia/shanghai',
            header: {
                left: 'prev next today',
                center: 'title  agendaDay,agendaWeek,month',
                right: ''
            },
            firstDay: '0', //0 is sunday
            weekends: true,
            weekMode: 'fixed',
            height: $(this).height() - 30,
            //对day,week有效
            //                contentHeight: 130,
            aspectRatio: 100,
            allDaySlot: true,
            allDayText: '全天', //default:'all-day
            axisFormat: 'HH:mm tt',
            //                slotMinutes: 21, //每个间隔相差的时间
            dayClick: function (date, allDay, jsEvent, view) {
                //                    if (allDay) {
                //                        alert('Clicked on the entire day:' + date);
                //                    } else {
                //                        alert('Clicked on the slot:' + date);
                //                    }

                //                    alert('Coordidates:' + jsEvent.pageX + ',' + jsEvent.pageY);

                //                    alert('Current view:' + view.name);

                $("#dialog").dialog();

                //                    $(this).css('background-color', 'red');

            },
            //                eventMouseover: function (event, jsEvent, view) {
            //                    alert('eventMouseover');
            //                },
            //                eventMouseout: function (event, jsEvent, view) {
            //                    alert('eventMouseout');
            //                },
            selectable: true,
            selectHelper: true,
            select: function (startDate, endDate, allDay, jsEvent, view) {
                alert(startDate + ',' + endDate);
            },
            loading: function (isloading, view) {

            }
        });
        //            $("#calendar").fullCalendar('destroy');
        //change view
        //            $("#calendar").fullCalendar("changeView", "agendaDay");
        firstHour: 3
    });

 
</script>
